{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation Details</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #dddddd;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        img {
            max-width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
    <h2>Quotation Request from {{ user.first_name }} {{ user.last_name }}</h2>
    <p>Hello {{ user.first_name }},</p>
    <p>Your quotation contains the following products:</p>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price (per unit)</th>
                <th>Image</th>
                <th>Total Price</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in quotation_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>Rs. {{ item.product.new_price }}</td>
                td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"></td>
                <td>Rs. {{ item.quantity|multiply:item.product.new_price }}</td>
                <
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td></td>
                <td><strong>Rs. {{ total_price }}</strong></td>
                 <!-- Empty cell for alignment -->
            </tr>
        </tfoot>
    </table>
    <p>Thank you for your request!</p>
</body>
</html>
