{% extends 'base/base.html' %}
{% load static %}
{%block content %}


    <main class="main__content_wrapper">

        <!-- Start breadcrumb section -->
        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container-fluid">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="breadcrumb__content">
                            <h1 class="breadcrumb__content--title text-white mb-10">Signup Page</h1>
                            <ul class="breadcrumb__content--menu d-flex">
                                <li class="breadcrumb__content--menu__items"><a class="text-white"
                                        href="index.html">Home</a></li>
                                <li class="breadcrumb__content--menu__items"><span class="text-white">Signup Page</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb section -->

        <!-- Start login section  -->
        <div class="login__section section--padding">
            <div class="container">
                <form method='POST' action="." >
                    {% csrf_token %}
                    <div class="login__section--inner">
                        <div class="row row-cols-md-2 row-cols-1">
                            <div class="col">
                                <div class="account__login register">
                                    <div class="account__login--header mb-25">
                                        <h3 class="account__login--header__title mb-10">Create an Account</h3>
                                        <p class="account__login--header__desc">Register here if you are a new customer
                                        </p>
                                    </div>
                                    <div class="account__login--inner">
                                        <label>
                                            {{ form.username }}
                                        </label>
                                        <label>
                                            {{ form.email }}
                                        </label>
                                        <label>
                                            {{ form.password1}}
                                        </label>
                                        <label>
                                            {{form.password2}}
                                        </label>
                                        <div class="account__login--remember position__relative my-4">
                                            <input class="checkout__checkbox--input" id="check2" type="checkbox">
                                            <span class="checkout__checkbox--checkmark"></span>
                                            <label class="checkout__checkbox--label login__remember--label"
                                                for="check2">
                                                I have read and agree to the terms & conditions</label>
                                        </div>
                                        <label>
                                            <button class="account__login--btn primary__btn mb-10" type="submit">Submit
                                                & Register</button>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="banner__items position__relative mb-25">
                                    <a class="banner__items--thumbnail " href="#"><img
                                            class="banner__items--thumbnail__img banner__img--height"
                                            src="assets/img/furniture/dining2.jpg" alt="banner-img"
                                            style="height: 501px; width: 600px; object-fit: cover;">
                                        <div class="banner__content--style2">
                                            <h3 class="banner__content--style2__subtitle d-md-none">Get Discount Up to
                                                20%</h3>
                                            <h2 class="banner__content--style2--title text-grey">Minimalist Modular <br>
                                                Kitchen
                                                Combo</h2>
                                            <span class="banner__content--style2__link primary__btn style2">Buy
                                                Now</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End login section  -->

    </main>

{% endblock %}
